body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: sans-serif;
    overflow: hidden;
}

h1, h2, h3 {
    margin-top: 0px;
}

#loader .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #000000;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    opacity: 0.3;
    z-index: 1000;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.header {
    height: 40px;
    border-bottom: 1px solid #000000;
}

.header h1 {
    font-size: 18px;
    margin: 10px 10px;
    float: left;
}

.header button {
    float: right;
    margin: 10px 10px 10px 0px;
}

.main {
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 41px);
}

.login {
    width: 400px;
    margin: 50px auto;
}

.login .message {
    color: #ff0000;
    font-size: 22px;
    margin-bottom: 10px;
}

.login form {
    float: left;
    padding: 20px;
    width: 100%;
    border: 1px solid #000000;
    margin-bottom: 20px;
    box-sizing: border-box;
}

form .row {
    float: left;
    width: 100%;
    margin: 5px 0px;
}

form label {
    display: block;
    float: left;
    margin-right:5px;
}
form input {
    display: block;
    float: right;
    width: 200px;
    box-sizing: border-box;
}

.select {
    border:1px solid #000000;
    min-height: 100px;
}

.select .option {
    background-color: #DDDDDD;
    cursor: default;
}

.select .option:nth-child(2n) {
    background-color: #EEEEEE;
}

.select .option.selected {
    background-color: #BBBBBB;
}

.buttons {
    width: 100%;
    overflow: hidden;
    text-align: right;
}

.pop-up {
    box-shadow: 5px 5px 3px #666666;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 720px;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid #666666;
    border-radius: 5px;
    text-align: left;
    pointer-events: auto;
}

.pop-ups {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    pointer-events: none;
}

.garden {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.garden button {
    position: absolute;
    right: 10px;
    width: 25px;
    height: 25px;
}

.garden #btn_zoom_in {
    bottom: 65px;
}

.garden #btn_zoom_out {
    bottom: 30px;
}

.garden .plant {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #ff0000;
    border-radius: 50%;
}

.garden .plant.filtered {
    opacity: 0.1;
}

.garden .plant div {
    display: none;
}

.garden .plant div.name {
    position: absolute;
    display: block;
    left: 27px;
    top: 0px;
    line-height: 15px;
    padding: 5px 0px;
    width: 100px;
}

.garden .plant img {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0px;
    top: 0px;
    border-radius: 50%;
}

.garden .plant.open {
    position: absolute;
    overflow: hidden;
    width: 400px;
    min-height: 200px;
    height: auto;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 4px;
    z-index: 2;
}

.garden .plant.open div {
    display: block;
    width: 190px;
}

.garden .plant.open div.name {
    position: static;
    display: block;
    line-height: 15px;
    padding: 5px 0px;
    width: auto;
}

.garden .plant.open img {
    position: static;
    width: 200px;
    height: 200px;
    border-radius: 0;
}

.garden .plant.open div.data {
    margin-left: 10px;
    float: right;
}

.garden .plant.open button {
    position: relative;
    margin-left: 10px;
    float: right;
    width: auto;
    height: auto;
}

[name=add_plant] {
    width: 720px;
}

[name=add_plant] .plant {
    float: left;
    width: 350px;
}

[name=add_plant] .plant input[type=textarea] {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
}

[name=add_plant] .species {
    float: right;
    width: 350px;
}

[name=add_plant] .species img {
    width: 354px;
    height: 354px;
}

[name=add_plant] .marker {
    position: fixed;
    width: 16px;
    height: 16px;
    border: 3px solid #ff0000;
    border-radius: 50%;
    z-index: -1;
}

[name=add_species] .species img {
    width: 354px;
    height: 354px;
}

[name=add_species] {
    width: 620px;
}

[name=edit_species] {
    width: 620px;
}

[name=edit_garden] {
    width: 400px;
}

#species_list {
    right: 20px;
    left: auto;
    width: auto;
    margin: 0;
}

#species_list .species {
    overflow: hidden;
    margin: 5px 0px;
}

#species_list .species .controls {
    float: right;
}

@media (max-width: 720px) {
    .login {
        width: 90%;
    }

    .login input {
        width: 120px;
    }

    .pop-up {
        width: 100%!important;
        margin: 0!important;
        height: auto;
        top: 41px;
        left: 0;
        border-width: 1px 0;
        border-radius: 0;
    }

    [name=add_plant] .plant {
        float: left;
        width: 50%;
    }

    [name=add_plant] .species {
        float: right;
        width: 50%;
    }

    [name=add_plant] .species img {
        width: auto;
        height: auto;
    }
}
